*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 1%;
    text-align: center;
    color: black;
    background-image: linear-gradient(#756AB6, #E0AED0);
}
.container{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 10%;
    height: 90%;
    width: 60%;
    display: flex;
}
.container .guess_the_number{
    margin: 5% 5%;
    height: 70%;
    width: 50%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    border-radius: 1rem;
    background-image: linear-gradient( #A1EEBD, #F6F7C4) ;
    transition: 1s;
}

.container .guess_the_number h2{
    margin: auto;
    margin-top: 1%;
}

.container .guess_the_number:hover{
    margin: 3% 3%;
    height: 65%;
    width: 55%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    border-radius: 1rem;
    background-image: linear-gradient( #FFA1F5, #E26EE5);
}

.container .guess_the_number img{
    margin: auto;
    margin-top: 5%;
    height: 80%;
    width: 70%;
    mix-blend-mode: multiply;
}

.container .guess_the_number #btn1{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
    border: 3px solid rebeccapurple;
    border-radius: 2rem;
    cursor: pointer;
    background-image: linear-gradient( #A1EEBD, #7BD3EA) ;
    transition: 1s;
}

.container .guess_the_number #btn1 :hover{
    border: 3px solid rebeccapurple;
    border-radius: 2rem;
    background-image: linear-gradient( #C4B0FF, #8696FE) ;
    
}

.container .rock_paper_secissor{
    margin: 5% 5%;
    height: 70%;
    width: 50%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    background-image: linear-gradient( #A1EEBD, #F6F7C4) ;
    transition: 1s;
}

.container .rock_paper_secissor h2{
    margin: auto;
    margin-top: 1%;
}

.container .rock_paper_secissor img{
    margin: auto;
    margin-top: 20%;
    margin-bottom: 9%;
    height: 80%;
    width: 70%;
    mix-blend-mode: multiply;
}

.container .rock_paper_secissor:hover{
    margin: 3% 3%;
    height: 65%;
    width: 55%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    background-image: linear-gradient( #FFA1F5, #E26EE5) ;
}

.container .rock_paper_secissor #btn2{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
    border: 3px solid rebeccapurple;
    border-radius: 2rem;
    cursor: pointer;
    background-image: linear-gradient( #A1EEBD, #7BD3EA) ;
    transition: 1s;
}

.container .rock_paper_secissor #btn2:hover{
    border: 4px solid rebeccapurple;
    border-radius: 2rem;
    background-image: linear-gradient( #C4B0FF, #8696FE) ;
}