*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    min-width: auto;
    min-height: auto;
    padding-top: 1%;
    text-align: center;
    color: black;
    background-image: linear-gradient(#756AB6, #E0AED0);
}

.container{
    margin: auto;
    padding-top: 3%;
    padding-bottom: 10%;
    height: 80vh;
    width: 60%;
    display: flex;
    gap: 2%;
}

.container .guess_the_number{
    padding: 5% 5%;
    height: 70vh;
    width: 50%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    border-radius: 1rem;
    background-image: linear-gradient( #A1EEBD, #F6F7C4) ;
    transition: 1s;
}

.container .guess_the_number h2{
    margin: auto;
    padding-top: 1%;
}

.container .guess_the_number:hover{
    padding: 3% 3%;
    height: 65vh;
    width: 55%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    border-radius: 1rem;
    background-image: linear-gradient( #FFA1F5, #E26EE5);
}

.container .guess_the_number img{
    margin: auto;
    padding-top: 5%;
    height: 45vh;
    width: 70%;
    mix-blend-mode: multiply;
}

.container .guess_the_number #btn1{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
    border: 3px solid rebeccapurple;
    border-radius: 2rem;
    cursor: pointer;
    background-image: linear-gradient( #A1EEBD, #7BD3EA) ;
    transition: 1s;
}

.container .guess_the_number #btn1 :hover{
    border: 3px solid rebeccapurple;
    border-radius: 2rem;
    background-image: linear-gradient( #C4B0FF, #8696FE) ;
    
}

.container .rock_paper_secissor{
    padding: 5% 5%;
    height: 70vh;
    width: 50%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    background-image: linear-gradient( #A1EEBD, #F6F7C4) ;
    transition: 1s;
}

.container .rock_paper_secissor h2{
    margin: auto;
    padding-top: 1%;
}

.container .rock_paper_secissor img{
    margin: auto;
    padding-top: 20%;
    padding-bottom: 9%;
    height: 45vh;
    width: 70%;
    mix-blend-mode: multiply;
}

.container .rock_paper_secissor:hover{
    padding: 3% 3%;
    height: 65vh;
    width: 55%;
    border: 3px solid rgb(194, 153, 235);
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: #C7DCA7 0px 22px 70px 4px;
    background-image: linear-gradient( #FFA1F5, #E26EE5) ;
}

.container .rock_paper_secissor #btn2{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
    border: 3px solid rebeccapurple;
    border-radius: 2rem;
    cursor: pointer;
    background-image: linear-gradient( #A1EEBD, #7BD3EA) ;
    transition: 1s;
}

.container .rock_paper_secissor #btn2:hover{
    border: 4px solid rebeccapurple;
    border-radius: 2rem;
    background-image: linear-gradient( #C4B0FF, #8696FE) ;
}


@media only screen and (max-width: 600px){
    body{
        align-items: center;
        justify-content: center;
        padding: 15%;
        height: 900vh;
    }
    .container{
        align-items: center;
        width: 582px;
    display: list-item;
    gap: 5%}
}

@media only screen and (max-width: 572px){
    body{
        align-items: center;
        justify-content: center;
        padding: 15%;
        height: 900vh;
    }
    h1{
        
        margin-left: 30%;
    }
    .container{
        margin-left: 27%;
        align-items: center;
        width: 564px;
    display: list-item;
    gap: 5%;}
}

@media only screen and (max-width: 412px){
    body{
        align-items: center;
        justify-content: center;
        padding: 20%;
        height: 900vh;
    }
    h1{
        
        margin-left: 25%;
    }
    .container{
        margin-left: 25%;
        align-items: center;
        width: 400px;
    display: list-item;
    gap: 5%;}
}

@media only screen and (max-width: 280px){
    body{
        align-items: center;
        justify-content: center;
        padding: 3%;
        height: 300vh;
    }

    h1{
        
        margin-left: 20%;
    }
    .container{
        align-items: center;
        width: 270px;
    display: list-item;
    gap: 5%;}
    .guess_the_number, .rock_paper_secissor{
        width: 270px;
    }
    #btn1{
        width: 100px;
    }
}
